extends layout.pug

block content
  .position-relative.p-4
    include includes/back.pug
    .text-center
      h1 404: Not Found
      h2 You just hit a route that doesn&#39;t exist... the sadness :(