mixin searchForm(lg)
  form(action="search")
    .input-group(class=lg && ["input-group-lg", "shadow-sm"])
      - const {q} = query || {}
      input.form-control(type="search" name="q" maxlength="100" placeholder="Cats..." value=q autofocus)
      button.btn.btn-success.bi.bi-search(type="submit")